
body {
  margin: 0;
  padding: 0;
  background-image: url('/ban4.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  /* flex-direction: column;
  width: 100%; */
}

.nav-link {
  color: black;
  font-size: 1.5rem;
}
.footer{
  width: 100%;
}
span {
  color: orange;
}

.bg-color {
  background-color: brown;
  padding: 20px;
}
